@import "../styles/mixins";

.skills {
  clear: left;
  color: #ddd;
  padding: 50px 0;
  background: #234 center center no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 53% 0, 50% 3%, 47% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 53% 0, 50% 3%, 47% 0);
  @include Responsive(MD) {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 54% 0, 50% 3%, 46% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 54% 0, 50% 3%, 46% 0);
  }
  @include Responsive(SM) {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 56% 0, 50% 3%, 45% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 56% 0, 50% 3%, 45% 0);
  }
  @include Responsive(XS) {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 57% 0, 50% 3%, 43% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 57% 0, 50% 3%, 43% 0);
  }
}

.skills-header {
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}

.skills-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  li {
    flex: 0 0 calc(80% / 3);
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 90px;
      max-height: 100%;
      width: auto;
      margin: auto;
      @include Responsive(XS) {
        height: 60px;
      }
    }
    span {
      line-height: 3em;
      font-weight: bold;
      text-shadow: 1px 2px 2px #222;
    }
  }
}
