@import "../styles/mixins";

@include keyframes(blink) {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-right-color: transparent;
  }
}

.welcome {
  position: relative;
  color: #ddd;
  min-height: 100vh;
  width: 100%;
  background: #234 center center no-repeat;
  background-size: cover;
  padding: 76px 2em 100px 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-header {
  flex: 0 1 auto;
  h2 {
    text-transform: uppercase;
    font-size: 1.7em;
    color: #adf;
    text-shadow: 3px 4px 2px #000;
    @include Responsive(XS) {
      font-size: 1.4em;
    }
  }
}

.welcome-text {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 2px 2px #000;
  .top {
    margin: 10px auto;
    display: block;
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    @include Responsive(XS) {
      font-size: 1.1em;
    }
  }
  .bottom {
    margin: 10px auto;
    display: block;
    font-style: italic;
    font-size: 1.1em;
    @include Responsive(XS) {
      font-size: 1em;
    }
    span {
      &:first-of-type {
        background-color: rgba(21, 117, 44, 0.5);
        border-right: 2px solid rgba(255, 255, 255, 0.75);
        white-space: nowrap;
        padding: 1px 5px;
        @include animation("blink 1s infinite");
      }
      &:last-of-type {
        font-size: 1.2em;
        display: inline-block;
        font-family: monospace;
        text-decoration: underline;
      }
    }
  }
}

.arrow-down {
  img {
    display: block;
    width: 70px;
    height: 37px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.7;
  }
  &:hover img {
    opacity: 1;
  }
}
