.btn-nav {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgb(22, 122, 175);
  border: outset 2px #58F;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
  z-index: 2;
  &:hover {
    background-color: rgb(4, 95, 140);
  }
  &:focus {
    outline-offset: 1px;
    outline: white dotted 1px;
  }
  &:active {
    border: inset 2px #58F;
  }
  span {
    margin-right: 0.5em;
  }
}
